.box{
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aqua;
    padding: 20 px;
    color: black;
    height: 620px;
    width: 700px;
    overflow: scroll;
     
    }
    